.scrolling-wrapper{
	overflow-x: auto;
}

body{
	background-color: rgb(33, 37, 41);
	color: #eee;
	font-family: 'system-ui';
}

h1{
	font-weight: 800;
	font-size: 3em;
}

h5{
	font-weight: 800;
	font-size: 0.8em;
	font-color: #eee;
}

h6{
	font-weight: 500;
	font-size: 0.7em;
}

.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
}

.card-block{
	background-color: #000;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 20px;
	&:hover{
		transform: translateY(-5px);
		box-shadow: none;
	}
}

.card{
	background-color: #000;
	border-radius: 20px;
}

.card-img-top{
    border-radius: 20px;
}

.container-period {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

.container-period li {
  list-style: none;
  display: inline-block;
}

.container-period a {
  display: block;
  font-size: 14px;
  margin: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  line-height: 30px;
  -webkit-transition: all 0.6s;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: #807c7c !important;
}

.container-period a:hover {
  color: #eee !important;
}

.container-period a.active {
  color: #eee !important;
  border-bottom: 2px solid white;
}