.scrolling-wrapper{
	overflow-x: auto;
}

body{
	background-color: black;
	color: #eee;
	font-family: 'system-ui';
}

h1{
	font-weight: 800;
	font-size: 3em;
}

h5{
	font-weight: 800;
	font-size: 0.8em;
	font-color: #eee;
}

h6{
	font-weight: 500;
	font-size: 0.6em;
	font-color: #ddd;
}

.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
}

.card-block{
	background-color: #000;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 20px;
	&:hover{
		transform: translateY(-5px);
		box-shadow: none;
	}
}

.card{
	background-color: #000;
	border-radius: 20px;
}

.card-img-top{
    border-radius: 20px;
}
