{% extends "layout.html" %}
{% block content %}


<div class="container-fluid p-1">
	<div class="grid row g-0">
		<div class="grid-item col-3 col-xs-3 col-sm-2.4 col-md-2 col-lg-1.5 col-xl-1">
			<div class="card text-center bg-black m-1 p-0" data-bs-toggle="tooltip" data-bs-placement="top" title="guide">
					<img src="/static/img/guide.png" alt="" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Ticker</h5>
							<h6 class="d-inline-block text-truncate"  style="color: #0f0;">Daily %</h6>
					</div>
				</div>
		</div>
		{% for stock in stocks %}
		<div class="grid-item col-3 col-xs-3 col-sm-2.4 col-md-2 col-lg-1.5 col-xl-1">
				<div class="card text-center bg-black m-1 p-0" data-bs-toggle="tooltip" data-bs-placement="top" title={{stock.company}}>
					<img src="https://stocklookbook.blob.core.windows.net/stocks/{{stock.ticker}}_{{period}}.svg" onerror="this.onerror=null; this.src='/static/img/blank.png'" alt="" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">{{stock.ticker}}</h5>
						{% if stock.change == none %}
							<h6 class="d-inline-block"  style="color: #eee;"> - </h6>
						{% elif stock.change >= 0 %}
							<h6 class="d-inline-block text-truncate"  style="color: #0f0;">{{ '{0:0.2f} %'.format(stock.change*100) }} </h6>
						{% else %}
							<h6 class="d-inline-block text-truncate"  style= "color: #f00;">{{ '{0:0.2f} %'.format(stock.change*100) }} </h6>
						{% endif %}
					</div>
				</div>
		</div>
		{% endfor %}
	</div>

</div>



{% endblock %}