<head>

	<title>Stock LookBook</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!--import script files needed from plotly and bootstrap-->
    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
</head>

<body>
<!--navbar links-->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/static/img/stocklookbook-logo.png" alt="" width="40" height="40">
    </a>
    <form class="d-flex my-auto">
        <input class="form-control me-2" type="search" placeholder="Search stocks" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Go</button>
      </form>
  </div>
</nav>

<!--middle section-->
<div class="row">

    <div class="container-fluid">
		<div class="flex-row m-2 gap-2">
			<button type="button" class="btn btn-outline-success rounded-pill">Most Popular</button>
			<button type="button" class="btn btn-outline-success rounded-pill">Top Performance</button>
			<button type="button" class="btn btn-outline-success rounded-pill">Most Dividend</button>
			<button type="button" class="btn btn-outline-success rounded-pill">Most Versatile</button>
			<button type="button" class="btn btn-outline-success rounded-pill">My List</button>
		</div>
		<div class="text-center">
			 <div btn-group" role="group" aria-label="Basic radio toggle button group">
				<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
				<label class="btn btn-outline-primary" for="btnradio1">1M</label>

				<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
				<label class="btn btn-outline-primary" for="btnradio2">6M</label>

				<input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked>
				<label class="btn btn-outline-primary" for="btnradio3">1Y</label>

				<input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
				<label class="btn btn-outline-primary" for="btnradio4">3Y</label>

				<input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
				<label class="btn btn-outline-primary" for="btnradio5">5Y</label>
			</div>
		</div>
	</div>


    	<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
			<div class="card" style="width: 8rem;">
				<img src="/static/stocks/AAPL.svg" class="card-img-top" alt="...">
				<div class="card-body">
					AAPL
				</div>
			</div>
			<div class="card bg-dark" style="width: 12rem;">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">AAPL</h5>
				</div>
			</div>
			<div class="card" style="width: 12rem;">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">AAPL</h5>
				</div>
			</div>
			<div class="card" style="width: 12rem;">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 >AAPL</h5>
				</div>
			</div>
			<div class="card" style="width: 12rem;">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">AAPL</h5>
				</div>
			</div>
				<div class="card" style="width: 12rem;">
					<div class="card card-block card-2"></div>
				</div>
				<div class="col-sm">
					<div class="card card-block card-4"></div>
				</div>
				<div class="col-sm">
					<div class="card card-block card-5">
						<img src="/static/stocks/AAPL.svg" class="card-img-top" alt="...">
					</div>

				</div>

    </div>
</div>
</div>


<!--footer section-->
<div id="footer" class="container"></div>

</body>


<footer>

</footer>


</html>