<head>

	<title>Stock LookBook</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!--import script files needed from plotly and bootstrap-->
    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/static/script/interaction.js"></script>
	<script>
		$(document).ready(function() {
    		$(document).on('click','.radio', function() {
        		$(this).hide();
    		});
    	});
	</script>
</head>

<body>
<!--navbar links-->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/static/img/stocklookbook-logo.png" alt="" width="40" height="40">
    </a>
    <form class="d-flex my-auto" action="http://localhost:3001/" method="GET">
        <input class="form-control me-1 bg-dark" type="text" name="q" placeholder="Search stocks" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Go</button>
      </form>
  </div>
</nav>
<!--middle section-->
<div class="row bg-dark">
    <div class="container-fluid scrolling-wrapper flex-nowrap">
		<div class="btn-group btn-group-toggle flex-row text-nowrap ms-2 gap-2 " data-toggle="buttons">
			<p><a href="/most-active" class="btn btn-outline-info rounded-pill">Most Active</a></p>
			<p><a href="/top-gainers" class="btn btn-outline-info rounded-pill">Top Gainers</a></p>
			<p><a href="/top-losers" class="btn btn-outline-info rounded-pill">Top Losers</a></p>
			<p><a href="/most-volatile" class="btn btn-outline-info rounded-pill">Most Versatile</a></p>
			<p><a href="/mega-stocks" class="btn btn-outline-info rounded-pill">Mega stocks</a></p>
			<p><a href="/top-news" class="btn btn-outline-info rounded-pill">Top News</a></p>
			<p><a href="/top-dividend" class="btn btn-outline-info rounded-pill">Top Dividend</a></p>
			<p><a href="/all" class="btn btn-outline-info rounded-pill">All</a></p>
		</div>
	</div>
<div class="d-flex flex-row justify-content-center mt-2 p-0">
	<ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="false">1m</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">3m</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="true">1y</button>
  </li>
</ul>
</div>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
	  	<div class="row container-fluid p-0 ms-2">
			{% for stock in stocks %}
			<div class="card text-center bg-black m-1 p-0" style="width: 7rem;">
				<img src="/stocks/{{stock.ticker}}_1m.svg" class="card-img-top" alt="...">
				<div class="card-img-overlay text-center">
					<!--<p class="card-text">{{stock.perf_y}}</p>-->
				</div>
				<div class="card-body">
					<h5 class="card-title">{{stock.ticker}}</h5>
					<h6 class="d-inline-block text-truncate"  style="max-width: 5rem;">{{stock.change}}</h6>
				</div>
			</div>
			{% endfor %}
	</div>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
	  	<div class="row container-fluid p-0 ms-2">
			{% for stock in stocks %}
			<div class="card text-center bg-black m-1 p-0" style="width: 7rem;">
				<img src="/stocks/{{stock.ticker}}_3m.svg" class="card-img-top" alt="...">
				<div class="card-img-overlay text-center">
					<!--<p class="card-text">{{stock.perf_y}}</p>-->
				</div>
				<div class="card-body">
					<h5 class="card-title">{{stock.ticker}}</h5>
					<h6 class="d-inline-block text-truncate"  style="max-width: 5rem;">{{stock.change}}</h6>
				</div>
			</div>
			{% endfor %}
	</div>
  </div>
  <div class="tab-pane fade show active" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
	  	<div class="row container-fluid p-0 ms-2">
			{% for stock in stocks %}
			<div class="card text-center bg-black m-1 p-0" style="width: 7rem;">
				<img src="/stocks/{{stock.ticker}}_1y.svg" class="card-img-top" alt="...">
				<div class="card-img-overlay text-center">
					<!--<p class="card-text">{{stock.perf_y}}</p>-->
				</div>
				<div class="card-body">
					<h5 class="card-title">{{stock.ticker}}</h5>
					<h6 class="d-inline-block text-truncate"  style="max-width: 5rem;">{{stock.change}}</h6>
				</div>
			</div>
			{% endfor %}
	</div>
  </div>
</div>

<!--	<div id="display" class="scrolling-wrapper row flex-row flex-nowrap m-1 pb-4 pt-2">
			{% for stock in stocks %}

			<div class="card text-center bg-black m-1 p-0" style="width: 7rem;">
				<img src="/static/stocks/{{ticker}}_2y.svg" class="card-img-top" alt="...">
				<div class="card-img-overlay text-center">
					<p class="card-text">%</p>
				</div>
				<div class="card-body">
					<h5 class="card-title">{{ticker}}</h5>
					<h6>{{stock.Company}}</h6>
				</div>
			</div>
			{% endfor %}
	</div>-->



</div>


<!--footer section-->
<div id="footer" class="container"></div>

</body>


<footer>

</footer>


</html>