<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock LookBook</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!--import script files needed from plotly and bootstrap-->
    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link href="/static/css/style.css" rel="stylesheet" type="text/css">
<!--	<script src="/static/js/jquery-3.6.0.min.js"></script>-->
<!--	<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script-->
</head>

<body>

	{% include 'navigation.html' %}
	{% include 'feedback.html' %}
    {% block content %}{% endblock %}
	<!-- Bootstrap Bundle with Popper -->
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
	<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
	<script type = "text/javascript"
			src="{{url_for('static', filename = 'script/interaction.js')}}">
	</script>

</body>
</html>