{% from "macros.html" import nav_link with context %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/static/img/stocklookbook-logo.png" alt="" width="40" height="40">
    </a>
  </div>
</nav>

<div class="container-fluid scrolling-wrapper flex-nowrap ps-2">
    <div class="btn-group btn-group-toggle flex-row text-nowrap gap-2" data-toggle="buttons" id="nav-button">
        <button class="btn btn-outline-info rounded-pill active" id="mega-stocks">Mega stocks</button>
        <button class="btn btn-outline-info rounded-pill" id="most-active">Most Active</button>
        <button class="btn btn-outline-info rounded-pill" id="top-gainers">Top Gainers</button>
        <button class="btn btn-outline-info rounded-pill" id="top-losers">Top Losers</button>
        <button class="btn btn-outline-info rounded-pill" id="most-volatile">Most Volatile</button>
        <button class="btn btn-outline-info rounded-pill" id="top-news">Top News</button>
    </div>
</div>

<div class="text-center">
    <ul class="col container-period list-unstyled mb-0" id="period">
        <li><a class="categories" data-filter="1m">1m</a></li>
        <li><a class="categories" data-filter="3m">3m</a></li>
        <li><a class="categories active" data-filter="1y">1y</a></li>
        <li><a class="categories" data-filter="2y">2y</a></li>
    </ul>
</div>