<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/static/img/stocklookbook-logo.png" alt="" width="40" height="40">
    </a>
  </div>
</nav>

<div class="container-fluid scrolling-wrapper flex-nowrap bg-dark">
    <div class="btn-group btn-group-toggle flex-row text-nowrap gap-2 " data-toggle="buttons">
        {{ nav_link('most-active', 'Most Active', collection) }}
        {{ nav_link('mega-stocks', 'Mega stocks', collection) }}
        {{ nav_link('top-gainers', 'Top Gainers', collection) }}
        {{ nav_link('top-losers', 'Top Losers', collection) }}
        {{ nav_link('most-volatile', 'Most Versatile', collection) }}
        {{ nav_link('top-news', 'Top News', collection) }}
        {{ nav_link('top-dividend', 'Top Dividend', collection) }}
        {{ nav_link('all', 'All', collection) }}
    </div>
</div>